USE [master]
GO
/****** Object:  Database [BDKasandra]    Script Date: 10/4/2024 11:42:05 PM ******/
CREATE DATABASE [BDKasandra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'examen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\examen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'examen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\examen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDKasandra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDKasandra]
GO
/****** Object:  Table [dbo].[administrador]    Script Date: 10/4/2024 11:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[administrador](
	[id] [int] NOT NULL,
	[ci] [varchar](15) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[paterno] [varchar](50) NOT NULL,
	[materno] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[persona]    Script Date: 10/4/2024 11:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[persona](
	[id] [int] NOT NULL,
	[ci] [varchar](15) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[paterno] [varchar](50) NOT NULL,
	[materno] [varchar](50) NOT NULL,
	[usuario] [varchar](50) NULL,
	[contraseña] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[propiedad]    Script Date: 10/4/2024 11:42:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[propiedad](
	[id] [int] NOT NULL,
	[zona] [varchar](100) NOT NULL,
	[xini] [decimal](10, 2) NOT NULL,
	[yini] [decimal](10, 2) NOT NULL,
	[xfin] [decimal](10, 2) NOT NULL,
	[yfin] [decimal](10, 2) NOT NULL,
	[superficie] [decimal](10, 2) NOT NULL,
	[distrito] [varchar](50) NOT NULL,
	[id_propietario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[propiedad]  WITH CHECK ADD  CONSTRAINT [FK_PersonaPropietario] FOREIGN KEY([id_propietario])
REFERENCES [dbo].[persona] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[propiedad] CHECK CONSTRAINT [FK_PersonaPropietario]
GO
USE [master]
GO
